# Data Science Tools and Ecosystem

###### In this notebook, Data Science Tools and Ecosystem are summarized.
##### Data science relies on a variety of tools and frameworks to analyze and interpret data.Key programming languages like Python, R, and SQL are essential for data manipulation, while libraries such as Pandas, NumPy, and Scikit-learn are used for analysis and machine learning.Cloud platforms like AWS, Google Cloud, and Azure provide scalable computing resources, and tools like Jupyter Notebooks and RStudio help in interactive development. Big data tools such as Apache Hadoop and Spark enable processing large datasets, while visualization tools like Tableau and Power BI make insights accessible. Version control, automation tools, and machine learning frameworks like TensorFlow and PyTorch further streamline workflows, ensuring efficient data science projects.

###### Some of the popular languages that Data Scientists use are:
##### 1.Python
##### 2.R
##### 3.SQL 
##### 4.Java 
##### 5.Scala
##### 6.Julia
##### 7.C++
##### 8.JavaScript

###### Some of the commonly used libraries used by Data Scientists include:

1. **NumPy**  
2. **Pandas**   
3. **Matplotlib**  
4. **Seaborn**
5. **SciPy** 
6. **Scikit-learn** 
7. **Keras**
8. **TensorFlow**  
9. **PyTorch**

#### Data Science Tools

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#Addition Operation
20+30

50

In [2]:
#Subtraction Operation
40-10

30

In [3]:
#Multiplication Operation
40*5

200

In [4]:
#Divide Operation
60/5

12.0

### Multiply and add integers

In [5]:
#this a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

###  Convert minutes to hours

In [6]:
# write an expression that converts 200 minutes into hours.
#This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

### **Objectives:**

-Python  
-R  
-SQL  
-Java  
-Scala  
-Julia  
-MATLAB  
-SAS  
-JavaScript  
-Go

## Author 

__**Lakshmi Holla**__

__**Niveditha Pandith**__